.container {
    gap: 10px;
    margin: auto;
    padding: 20px;
    display: flex;
    max-width: 1000px;
    position: relative;
    flex-direction: column;
    border: 1px solid #2e2e2e;
}

.topBar {
    display: flex;
    align-items: center;
    border: 1px solid #2e2e2e;
    justify-content: space-between;
}

.topBarText {
    margin: 10px;
}

.mainContent {
    display: flex;
    align-items: center;
}

.tabSelectorWrapper {
    display: flex;
}

.tabButton {
    padding: 10px;
    cursor: pointer;
    transition: 0.1s ease-in-out all;
}

.tabButtonSelected {
    margin-bottom: -1px;
    padding: 10px;
    cursor: pointer;
    border-left: 1px solid #2e2e2e;
    border-right: 1px solid #2e2e2e;
    border-top: 1px solid #2e2e2e;
    border-bottom: 1px solid #ffffff;
}

.tabButton:hover {
    color: #ffffff;
    background-color: #2e2e2e;
}

.actionsWrapper {
    width: 100%;
}

.actionComponentsWrapper {
    width: 100%;
    border: 1px solid #2e2e2e;
}
