.container {
    gap: 10px;
    margin: auto;
    padding: 20px;
    display: flex;
    max-width: 1000px;
    position: relative;
    border-radius: 10px;
    flex-direction: column;
    border: 1px solid #aeaeae;
}

.topBar {
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #aeaeae;
    justify-content: space-between;
}

.topBarText {
    margin: 10px;
}

.mainContent {
    display: flex;
    align-items: center;
}

.tabSelectorWrapper {
    display: flex;
}

.tabButton {
    padding: 10px;
    cursor: pointer;
    border-radius: 10px 10px 0px 0px;
    transition: 0.1s ease-in-out all;
}

.tabButtonSelected {
    padding: 10px;
    cursor: pointer;
    border-left: 1px solid #aeaeae;
    border-right: 1px solid #aeaeae;
    border-top: 1px solid #aeaeae;
    border-bottom: 1px solid #ffffff;
    border-radius: 10px 10px 0px 0px;
}

.tabButton:hover {
    background-color: #aeaeae;
}

.actionsWrapper {
    width: 100%;
}

.actionComponentsWrapper {
    width: 100%;
    border: 1px solid #aeaeae;
    border-radius: 0px 10px 10px 10px;
}