.transferWrapper {
    gap: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.transferButton {
    width: 100%;
    font-size: 16px;
    font-weight: 600;
}

.toAccountInputWrapper {
    gap: 10px;
    width: 100%;
    display: flex;
}

.toAccountInput {
    width: 100%;
}
